---
import Section from '@layouts/Section.astro';
import { MEDIA_URL, type Project } from '@utils/data';
import { sortByDate } from '@utils/sortByDate';
import { Image } from 'astro:assets';
const apps = await Astro.glob(`../assets/app/*.md`);

const sortedApps = apps.map((project) => project.frontmatter as Project).sort(sortByDate);
---

<Section title="My Apps" link="Apps">
    <ul class="flex flex-wrap gap-8 items-center justify-center">
        {
            sortedApps.map(({ route, title }, i) => (
                <li class="relative group focus-within:scale-105 hover:scale-105 active:scale-[1.025] transition-transform">
                    <a
                        href={`/project/${route}`}
                        class="relative flex flex-col gap-2 items-center justify-center outline-none focus:scale-105 transition-transform"
                    >
                        <Image
                            src={`${MEDIA_URL}/${route}/icon.webp`}
                            alt={`${title} icon`}
                            width={256}
                            height={256}
                            class="opacity-0 group-hover:opacity-70 group-focus-within:opacity-70 dark:group-hover:opacity-50 dark:group-focus-within:opacity-50 transition-opacity blur-xl -z-10 absolute top-0 w-32 h-32 object-cover rounded-xl"
                        />

                        <Image
                            src={`${MEDIA_URL}/${route}/icon.webp`}
                            alt={`${title} icon`}
                            width={256}
                            height={256}
                            class="w-32 h-32 object-cover rounded-[2rem] shadow-xl"
                        />

                        <p class="w-font-medium capitalize w-fill text-sm text-center text-balance opacity-80">
                            {title}
                        </p>
                    </a>
                </li>
            ))
        }
    </ul>
</Section>
