---
import Section from '@layouts/Section.astro';
import { MEDIA_URL, type Project } from '@utils/data';
import { Image } from 'astro:assets';

interface Props {
    project: Project;
}

const { title, subtitle, route, date: dateString } = Astro.props.project;

const date = new Date(dateString);
const year = date.getFullYear();
const month = date.toLocaleString('default', { month: 'long' });
---

<Section>
    <div class="relative w-full h-fit flex flex-col items-center gap-8">
        <Image
            src={`${MEDIA_URL}/${route}/poster.webp`}
            alt={`${title} poster image`}
            width={640}
            height={360}
            class="w-[28rem] aspect-video object-cover rounded-2xl sm:rounded-3xl shadow-xl"
            transition:name={`game-${route}`}
        />

        <div class="relative w-full h-fit flex flex-col items-center gap-4">
            <h1 class="font-bold text-5xl 2xl:text-6xl text-center">
                {title}
            </h1>

            <p class="text-lg md:text-2xl text-center lg:max-w-[65%] text-balance opacity-70">
                {subtitle}
            </p>

            <small class="text-base md:text-lg text-center text-balance opacity-40">
                {`${month} ${year}`}
            </small>
        </div>
    </div>
</Section>
