---
import Section from '@layouts/Section.astro';
import { MEDIA_URL, homeActions } from '@utils/data';
import { Icon } from 'astro-icon';
import { Image } from 'astro:assets';
---

<Section link="Home">
    <div class="relative w-full h-fit mt-28 sm:mt-20 flex flex-col items-center gap-8 lg:gap-12 2xl:gap-16">
        <Image
            src={`${MEDIA_URL}/ProfileSmall.webp`}
            alt="404"
            width={256}
            height={256}
            class="object-cover w-64 h-64 md:w-72 md:h-72 xl:w-80 xl:h-80 2xl:w-96 2xl:h-96 rounded-full shadow-lg dark:border dark:border-gray-800 dark:!border-opacity-30"
        />

        <h1 class="font-bold text-5xl 2xl:text-6xl text-center">
            Hi! I'm <span class="text-transparent bg-clip-text bg-gradient-to-r from-violet-400 to-rose-400"
                >Carles Rojas</span
            >
        </h1>

        <p class="text-lg md:text-2xl text-center lg:max-w-[65%] text-balance opacity-70">
            Full stack Software Engineer & Designer from Barcelona with +5 years of experience
        </p>

        <div class="relative flex justify-center flex-wrap w-full h-fit gap-2">
            {
                homeActions.map(({ title, link, icon, label }) => (
                    <a
                        href={link}
                        target="_blank"
                        rel="noopener noreferrer"
                        aria-label={label}
                        class="flex p-4 gap-2 rounded-full items-center justify-center outline-none transition focus:scale-110 hover:scale-110 active:scale-105 font-medium text-gray-600 hover:text-gray-950 focus:text-gray-950 dark:text-gray-400 dark:hover:text-gray-200 dark:focus:text-gray-200 shadow-sm border border-gray-200 dark:border-gray-800 bg-white dark:bg-gray-950 !bg-opacity-75 backdrop-blur-md"
                    >
                        <Icon name={icon} class="w-6 h-6" />
                        {title}
                    </a>
                ))
            }
        </div>
    </div>
</Section>
