---
import Section from '@layouts/Section.astro';
import { MEDIA_URL, type Project } from '@utils/data';
import Icon from 'astro-icon';
import { Image } from 'astro:assets';

interface Props {
    project: Project;
}

const { route, title, links, qr } = Astro.props.project;

const cols =
    links.length === 0
        ? qr
            ? 'grid-cols-2'
            : 'grid-cols-0'
        : links.length <= 2
        ? qr
            ? 'grid-cols-3'
            : links.length === 1
            ? 'grid-cols-1'
            : 'grid-cols-2'
        : qr
        ? 'grid-cols-4'
        : 'grid-cols-3';

const maxWidth = {
    'grid-cols-4': 'max-w-[32rem]',
    'grid-cols-3': 'max-w-[24rem]',
    'grid-cols-2': 'max-w-[16rem]',
    'grid-cols-1': 'max-w-[8rem]',
    'grid-cols-0': 'max-w-[0rem]',
};
---

<Section title="Links">
    <ul class={`grid grid-rows-2 ${cols} ${maxWidth[cols]} w-full h-fit gap-2 sm:gap-4`}>
        {
            qr && (
                <li class="w-full h-full flex rounded-2xl sm:rounded-3xl col-span-2 row-span-2 items-center justify-center outline-none transition focus:scale-[1.05] hover:scale-[1.05] active:scale-[1.025] font-medium shadow-sm border border-gray-200 dark:border-gray-800 bg-white dark:bg-gray-950 !bg-opacity-75 backdrop-blur-md">
                    <a
                        class="relative w-full h-full p-[8%]"
                        href={qr}
                        target="_blank"
                        rel="noopener noreferrer"
                        aria-label={'qr'}
                    >
                        <Image
                            class="w-full h-full object-cover block dark:hidden"
                            src={`${MEDIA_URL}/${route}/qr.webp`}
                            alt={`project ${title} qr`}
                            width={256}
                            height={256}
                        />

                        <Image
                            class="w-full h-full object-cover hidden dark:block"
                            src={`${MEDIA_URL}/${route}/qr_inverted.webp`}
                            alt={`project ${title} qr`}
                            width={256}
                            height={256}
                        />
                    </a>
                </li>
            )
        }

        {
            links.map(({ url, icon }) => (
                <li class="w-full h-full flex rounded-2xl sm:rounded-3xl items-center justify-center outline-none transition focus:scale-110 hover:scale-110 active:scale-105 font-medium text-gray-600 hover:text-gray-950 focus:text-gray-950 dark:text-gray-400 dark:hover:text-gray-200 dark:focus:text-gray-200 shadow-sm border border-gray-200 dark:border-gray-800 bg-white dark:bg-gray-950 !bg-opacity-75 backdrop-blur-md">
                    <a
                        href={url}
                        class="relative w-full h-full p-[20%] text-2xl font-bold"
                        target="_blank"
                        rel="noopener noreferrer"
                        aria-label={`link to ${url}`}
                    >
                        <Icon name={icon} class="w-full h-full" />
                    </a>
                </li>
            ))
        }
    </ul>
</Section>
