---
import Back from '@components/Back.astro';
import Description from '@components/Description.astro';
import Game from '@components/Game.astro';
import Links from '@components/Links.astro';
import Screenshots from '@components/Screenshots.astro';
import { games, type Project } from '@data/projects';
import Layout from '@layouts/Layout.astro';

interface Props {
    project: Project;
}

export async function getStaticPaths() {
    return games
        .filter(({ disabled }) => !disabled)
        .flat()
        .map((project) => ({
            params: { route: project.route },
            props: { project },
        }));
}

const { project } = Astro.props;
const { title, links, qr } = project;

const showLinks = links.length > 0 || !!qr;
---

<Layout title={title}>
    <Back />

    <main class="relative w-full h-fit">
        <Game project={project} />
        <Screenshots project={project} />
        <Description project={project} />
        {showLinks && <Links project={project} />}
    </main>
</Layout>
