---
import { Image } from 'astro:assets';
import Layout from '../../layouts/Layout.astro';
import { MEDIA_URL } from '../../utils/data';

export async function getStaticPaths() {
    const apps = await Astro.glob(`../../asset/app/*.md`);

    return apps.map((project) => ({
        params: { route: project.frontmatter.route },
        props: { project: project.frontmatter },
    }));
}

const { project } = Astro.props;
const { title, route } = project;
---

<Layout title={title}>
    <main class="relative w-full h-fit flex items-center justify-center py-24">
        <Image
            src={`${MEDIA_URL}/${route}/icon.webp`}
            alt={`${title} icon`}
            width={256}
            height={256}
            class="w-64 h-64 object-cover rounded-[4rem] shadow-xl"
            transition:name={`app-${route}`}
        />
    </main>
</Layout>
