---
import App from '@components/App.astro';
import Back from '@components/Back.astro';
import Description from '@components/Description.astro';
import Links from '@components/Links.astro';
import Screenshots from '@components/Screenshots.astro';
import { apps } from '@data/projects';
import Layout from '@layouts/Layout.astro';

export async function getStaticPaths() {
    return apps
        .filter(({ disabled }) => !disabled)
        .map((project) => ({
            params: { route: project.route },
            props: { project },
        }));
}

const { project } = Astro.props;
const { title, links } = project;
---

<Layout title={title}>
    <Back />

    <main class="relative w-full h-fit">
        <App project={project} />
        <Screenshots project={project} />
        <Description project={project} />
        {links && <Links project={project} />}
    </main>
</Layout>
